body {
  text-align: center;
  font-family: Arial;
  background: #111;
  color: white;
}

#gameArea {
  width: 320px;
  height: 420px;
  background: #222;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
}

#player {
  width: 30px;
  height: 30px;
  background: lime;
  position: absolute;
  bottom: 10px;
  left: 145px;
}

.enemy {
  width: 30px;
  height: 30px;
  background: red;
  position: absolute;
  top: 10px;
  left: 50px;
}

.bullet {
  width: 5px;
  height: 10px;
  background: yellow;
  position: absolute;
}

.enemyBullet {
  background: orange;
}

#joystick button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

#health {
  width: 200px;
  border: 1px solid white;
  margin: auto;
}

#healthBar {
  height: 15px;
  width: 100%;
  background: green;
}

#gameOver {
  display: none;
  color: red;
  font-size: 18px;
}
