 body {
  text-align: center;
  background: #111;
  color: white;
  font-family: Arial;
}

#game {
  width: 320px;
  height: 420px;
  background: #222;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
}

#player {
  width: 30px;
  height: 30px;
  background: lime;
  position: absolute;
  bottom: 10px;
  left: 145px;
}

.enemy {
  width: 30px;
  height: 30px;
  background: red;
  position: absolute;
}

.bullet {
  width: 6px;
  height: 12px;
  background: yellow;
  position: absolute;
}

.enemyBullet {
  background: orange;
}

#joystick button, #fireBtn {
  font-size: 18px;
  margin: 5px;
}

#gameOver {
  display: none;
  color: red;
}
