body {
  font-family: Arial;
  text-align: center;
  background: #f0f0f0;
}

#game {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  margin: 10px auto;
  position: relative;
  background: white;
}

#player {
  width: 40px;
  height: 40px;
  background: green;
  position: absolute;
  top: 130px;
  left: 130px;
}

#target {
  width: 40px;
  height: 40px;
  background: red;
  position: absolute;
}

#controls button {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

#restart {
  margin-top: 10px;
  padding: 10px 20px;
}
body{background-color: red, grey ;}