body {
    text-align: center;
    background: black;
    color: white;
    font-family: Arial;
}

#gameArea {
    width: 400px;
    height: 500px;
    border: 3px solid white;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: #111;
}

#player {
    width: 60px;
    position: absolute;
    bottom: 10px;
    left: 170px;
}

.enemy {
    width: 60px;
    position: absolute;
}

.bullet {
    width: 6px;
    height: 15px;
    background: yellow;
    position: absolute;
}

.enemyBullet {
    width: 6px;
    height: 15px;
    background: red;
    position: absolute;
}

#controls {
    margin-top: 10px;
}

#controls button {
    padding: 15px;
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
}

#restartBtn {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    background: red;
    color: white;
    border: none;
}

#gameOverScreen {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background: black;
    padding: 20px;
}
