body {
  text-align: center;
  font-family: Arial;
  background: #222;
  color: white;
}

#game {
  width: 300px;
  height: 400px;
  border: 3px solid white;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  background: black;
}

#player {
  width: 50px;
  height: 50px;
  background: lime;
  position: absolute;
  bottom: 10px;
  left: 125px;
}

.enemy {
  width: 50px;
  height: 50px;
  background: red;
  position: absolute;
  top: 0;
}

#gameOver {
  color: red;
  display: none;
}
